.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.05rem;
    border: 3px solid white;
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 30px;
    height: 3rem;
    background-color: rgb(49, 0, 95);
    color: white;
}

.fa-icon {
    height: 100%;
    width: 2.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-icon:hover {
    background: radial-gradient(circle, #a280db 20%, #986ee2 50%, #8349e6 75%, white 100%);
    border-radius: 50%;
}

.fa-icon.active {
    background: radial-gradient(circle, #a280db 20%, #986ee2 50%, #8349e6 75%, white 100%);
    border-radius: 50%;
}

@media screen and (max-height: 950px) {
    .bottom-bar {
        width: 7rem;
        font-size: 1.2rem;
        height: 2.5rem;
    }
}