.app {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calendar--wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar--container {
    position: relative;
    width: 70%;
    height: 80%;
    max-width: 1000px;
    max-height: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.right {
    border-radius: 0 5px 5px 0px;
    background: linear-gradient(to top left, #f4c7ca, #e3a7b3, #c385aa, #8969a4, #6e5c98);
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.left {
    width: 60%;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
}

.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #e2cfe8d2;
    transform: translateY(-50%);
    opacity: 0.8;
    z-index: 100;
}

.calendar::before {
    height: 94%;
    left: calc(100%);
    background-color: #c7a4d1;
    opacity: 0.8;
    z-index: 100;
    width: 24px;
}

.calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 2rem;
    font-weight: 500;
    font-weight: 600;
    color: #4d246e;
}

.year {
    font-family: 'Overpass' !important;
    font-size: 2.3rem;
}

.month svg:hover {
    transform: scale(1.1);
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--primary-clr);
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(210, 200, 221);
}

.sun {
    color: #f3a4cd;
}

.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #b5aaf2;
    border: 1px solid #f5f5f5;
    font-size: 1.3rem;
    font-family: 'Overpass';
    font-weight: 600;
    z-index: 102;
}

.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
    color: #f3a4cd;
}

.calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #d4d4d4 !important;
}

.calendar .days .active {
    position: relative;
    color: #ffffff;
    z-index: 1;
}

.calendar .days .day::before {
    content: ''; 
    position: absolute; 
    width: 50px;
    height: 50px;
    border: none; 
    border-radius: 50%; 
    box-sizing: border-box; 
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(246, 168, 253);
    color: white;
    border-radius: 50%; 
    box-sizing: border-box; 
    z-index: -1;
}

.calendar .days .today::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #b49bf9;
    color: white;
    border-radius: 50%; 
    box-sizing: border-box; 
    z-index: -1;
}

.calendar .days .today::after {
    content: ''; 
    position: absolute; 
    top: 60px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 18px; 
    height: 18px; 
    background-color: #b49bf9; 
    border-radius: 50%; 
    box-sizing: border-box; 
    border: 5.5px solid #ffffff;
    z-index: 1; 
}

.calendar .days .today {
    position: relative;
    z-index: 1000;
    color: #ffffff !important;
    z-index: 1;
}

.calendar .days .active:nth-child(7n + 1) {
    color: #ffffff;
}

.calendar .days .prev-date.active ,
.calendar .days .next-date.active {
    color: #fff !important;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event {
    background-color: #efdfff;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.calendar .goto-today .goto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    gap: 7px;
    width: 50%;
}

.calendar .goto-today .goto input {
    height: 38.5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #b49bf9;
    border: 4px solid #b49bf9;
    background-color: white;
    margin: auto;
    font-family: 'Overpass';
    font-weight: 600;
}

.calendar .goto-today .goto input::placeholder {
    color: #b49bf9;
    font-weight: 600;
    font-family: 'Oxygen';
}

.goto-today .month-input {
    width: 45%;
}

.goto-today .year-input {
    width: 55%;
}

.calendar .goto-today button {
    height: 100%;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #b49bf9;
    cursor: pointer;
    color: white;
    justify-content: center;
    transition: transform 0.3s ease-out; 
}

.calendar .goto-today button:hover {
    transform: scale(1.1);
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.right .today-date .event-date {
    height: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Overpass';
    margin-top: 10px;
}

.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    line-height: 1.5rem;
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
}

/* For Webkit browsers */
.events::-webkit-scrollbar {
    width: 8px; 
}
  
.events::-webkit-scrollbar-track {
    background: transparent; 
}
  
.events::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.445); 
    border-radius: 20px;
    border: 6px solid transparent;
}
  
.events::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.897); 
}
  
.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.185), transparent);
    color: white;
    cursor: pointer;
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, #4d246e, transparent);
    color:white;
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }

.events .event .title .event-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
}

.title svg {
    color: #b49bf9;
}

.events .event i {
    color: #b49bf9;
    font-size: 0.8rem;
}

.events .event:hover i {
    color: white;
}

.events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    margin-left: 17px;
    pointer-events: none;
    font-family: 'Overpass';
}

.events .event::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    color: white;
    transform: translateY(-50%);
}

.events .event:hover::after {
    display: flex;
}
  
.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 800;
    border: 3.5px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.add-event:hover {
    transform: scale(1.1);
}

.events .no-events {
    padding: 0 40px;
    height: 100px;
    padding-left: 70px;
    margin-top: 110px;
    overflow: hidden;
    font-size: 1.75rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 2.2rem;
}

.add-event-wrapper {
    position: absolute;
    bottom: 95px;
    left: 52%;
    width: 85%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(247, 230, 242);
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.add-event-wrapper.active {
    max-height: 300px;
}

.add-event-header {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    color: #4d246e;
}

.add-event-header .title {
    font-size: 1.75rem;
    font-weight: 700;
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 8px;
}

.add-event-body .add-event-input {
    width: 93%;
    height: 55px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.add-event-input:nth-child(1),
.add-event-input:nth-child(2) {
    margin-bottom: 8px;
}

.time-placeholder {
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    pointer-events: none; 
    color: #ad9dbbb2; 
    width: 30%;
}

.clock-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: white;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
}

.add-event-body .add-event-input input {
    width: 100%; 
    height: 100%;
    box-sizing: border-box; 
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4d246e;
    text-align: left;
    display: inline-block;
}

.add-event-body .add-event-input .event-time-from,
.add-event-body .add-event-input .event-time-to {
    color: #ad9dbbb2; 
    font-family: 'Overpass';
}

.add-event-body .add-event-input .event-time-filled {
    color: #4d246ee0;
    font-family: 'Overpass'; 
}

.add-event-body .add-event-input input::placeholder {
    color: #ad9dbb;
    text-align: left;
}

.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #b49bf9;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out; 
}

.add-event-footer .add-event-btn:hover {
    transform: scale(1.1);
}

@media screen and (max-height: 950px) {
    .year {
        font-size: 2rem;
    }

    .month svg {
        font-size: 1.7rem;
    }

    .calendar .weekdays {
        height: 90px;
    }

    .calendar .days .day {
        height: 75px;
    }

    .right .today-date .event-day {
        font-size: 1.8rem;
    }

    .right .today-date .event-date {
        font-size: 1.1rem;
    }

    .events .no-events {
        font-size: 1.5rem;
    }

    .events {
        max-height: 450px;
    }

    .calendar .days .today::after {
        top: 53px;
        height: 17px;
        width: 17px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .calendar--container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }

    .calendar--container .left {
          width: 100%;
          height: 100%;
          padding: 20px 0;
      }
    .calendar--container .right {
          width: 100%;
          height: 100%;
          padding: 20px 0;
      }
    .calendar::before,
    .calendar::after {
          top: 100%;
          left: 50%;
          width: 97%;
          height: 12px;
          border-radius: 0 0 5px 5px;
          transform: translateX(-50%);
      }
    .calendar::before {
          width: 94%;
          top: calc(100% + 12px);
      }
    .events {
          padding-bottom: 340px;
      }
    .add-event-wrapper {
          bottom: 100px;
      }
  }
@media screen and (max-width: 500px) {
      .calendar .month {
          height: 75px;
      }
    .calendar .weekdays {
          height: 50px;
      }
    .calendar .days .day {
          height: 40px;
          font-size: 0.8rem;
      }
    .calendar .days .day.active,
    .calendar .days .day.today {
          font-size: 1rem;
      }
    .right .today-date {
          padding: 20px;
      }
  }

  .credits {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      background-color: #b38add;
  }
  .credits a {
      text-decoration: none;
      font-weight: 600;
  }
  .credits a:hover {
      text-decoration: underline;
  }
