.notes-list-container {
    width: 100vw;
    height: 100vh;
}

.notes-container {
    width: 100%;
    height: 95%;
    padding: 5rem 5rem 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-list {
    padding: 6.5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    height: 100%;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
}

.notes-list::-webkit-scrollbar {
    width: 8px; 
}
  
.notes-list::-webkit-scrollbar-track {
    background: transparent; 
}
  
.notes-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.445); 
    border-radius: 20px;
    border: 6px solid transparent;
}
  
.notes-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.897); 
}

.note {
    color: black;
    background-color: #b49bf9;
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 300px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 0.5em;
    position: relative;
    margin-top: 0;
}


.note-modified{
    padding-right: 5px;
    font-weight: 100;
}

.new {
    background-color: #b49bf9;
    width: 300px;
    height: 300px;
}

.new-content {
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
}

.new-content::-webkit-scrollbar {
    width: 8px; 
}
  
.new-content::-webkit-scrollbar-track {
    background: transparent; 
}
  
.new-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.445); 
    border-radius: 20px;
    border: 6px solid transparent;
}
  
.new-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.897); 
}

.save {
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    padding: 5px 10px 5px 10px;
    width: 70px;
    height: 30px;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.1s ease-out;
}

.save:active {
    filter: brightness(0.85);
}

textarea {
    border: none;
    resize: none;
    background-color: transparent;
}

textarea {
    outline: none;
}

.new .note-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.old-content {
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: rgb(198, 175, 252) #f1f1f1;
}

.old-content::-webkit-scrollbar {
    width: 8px; 
}
  
.old-content::-webkit-scrollbar-track {
    background: transparent; 
}
  
.old-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.445); 
    border-radius: 20px;
    border: 6px solid transparent;
}
  
.old-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.897); 
}
  
.old-note-footer {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
}

.note-details {
    display: grid;
    grid-template-rows: auto auto; 
}

.old-note-delete-icon {
    justify-self: end;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 17px;
    right: 12px;
}

.old-note-delete-icon:hover {
    transform: scale(1.2);
}

.panel {
    bottom: 0;
    transition: transform 0.5s ease-in-out;
    height: 400px;
    width: 400px;
    background-color: transparent;
    position: absolute;
    z-index: 100;
}
  
.hide {
    transform: translateX(-350px); 
}
  
.show {
    transform: translateX(0%);
}
  
.panel-btn {
    position: absolute;
    bottom: 80px;
    right: -64.5px;
    transform: rotate(90deg);
    border: none;
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    background-color: #b49bf9;
    color: white;
    transition: left 0.3s ease-in;
}

.custom-btn {
    position: absolute;
    bottom: 260px;
    right: -64.5px;
    transform: rotate(90deg);
    border: none;
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    background-color: #ffffff;
    color: #b49bf9;
    transition: left 0.3s ease-in;
}

.btn-text:hover {
    transform: scale(1.05);
}

.panel-content {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.541);;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
}

.panel-content h1 {
    font-size: 2rem;
}

.new textarea::placeholder {
    color: rgba(0, 0, 0, 0.527);
}

.panel-content svg {
    position: absolute;
    top: 7px;
    right: 60px;
    font-size: 30px;
    color: white;
}

.panel-content svg:hover{
    transform: scale(1.1);
} 

.custom-note {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.color-picker {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    color: white;
    align-items: center;
    font-size: 1.1rem;
}

.color-picker input {
    width: 170px;
    border: none;
    cursor: pointer;
}

.custom-note button {
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}

.custom-note button:hover {
    filter: brightness(0.85);
}

@media screen and (max-width: 510px) {
    .note {
        min-height: 250px;
        width: 250px;
        height: 250px;
    }

    .notes-container {
        padding: 2rem;
    }
    
    .note h2 {
        font-size: 1.3rem;
    }

    .note .old-content {
        font-size: 0.9rem;
    }

    .note-details {
        font-size: 0.85rem;
    }

    .new {
        background-color: #b49bf9;
        width: 250px;
        height: 250px;
    }

    .panel {
        height: 320px;
        width: 320px;
    }
    
    .hide {
        transform: translateX(-320px); 
    }

    .panel-content {
        width: 320px;
        height: 320px;
        gap: 10px;
    }

    .panel-btn {
        bottom: 65px;
        right: -92.5px;
        width: 140px;
        height: 45px;
        font-size: 1rem;
    }
    
    .custom-btn {
        bottom: 205px;
        right: -92.5px;
        width: 140px;
        height: 45px;
        font-size: 1rem;
    }

    .panel-content h1 {
        font-size: 1.5rem;
    }

    .panel-content svg {
        top: 7px;
        right: 10px;
        font-size: 25px;
    }

    .color-picker {
        font-size: 0.95rem;
    }

    .color-picker input {
        width: 150px;
        height: 45px;
    }

    .new-title {
        font-size: 1.3rem !important;
    }

    .new-content {
        font-size: 0.9rem !important;
    }
}