.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 200; 
}

.settings-container {
    position: fixed;
    right: 0;
    z-index: 210;
    background: linear-gradient(to bottom right, #e9b7db, #7f1ece);
    width: 65%;
    max-width: 1100px;
    min-width: 800px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    padding-left: 35px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.close-tab {
    height: 60px;
}

.close-tab svg {
    color: white;
    font-size: 30px;
    margin-left: 5px;
}

.main-settings {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-settings {
    width: 30%;
    max-width: 330px;
    border-right: 1px solid rgba(255, 255, 255, 0.267);
}

.left-settings .tabs {
    display: flex;
    flex-direction: column;
}

.left-settings .tabs button {
    border: none;
    background: none;
    text-align: left;
}


