.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
}

.settings-container {
    position: fixed;
    right: 0;
    z-index: 11;
    background-color: black;
    width: 65%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}